<main class='p-5'>
  <div class='card p-5'>
    <p>
      Hello world! Hello world! Hello world! Hello world!
      Hello world! Hello world! Hello world! Hello world!
      Hello world! Hello world!
    </p>
    <p id='test'>
      Hello world!
    </p>
    <span class='test'>Test</span>
  </div>

  <pre> gfjhsgfhgszg</pre>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='padding: 50px 0; background:gray; height: 200px'
  >

    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'>Inline-block</span>

  </div>

  <div>Black</div>
</main>