:root {
  --space-1: 1px;
  --space-2: 2px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 10px;
  --space-6: 12px;
  --space-7: 16px;
  --space-8: 20px;
  --space-9: 32px;

  --size-1: 14px;
  --size-2: 16px;

  --color-border: #9ca3af;
  --color-button: #885ffb;
  --color-white: #ffffff;

  --border-radius-1: 4px;
  --border-radius-2: 10px;
  --border-radius-3: 24px;

  --weight-title: 700;
  --weight-text: 400;

  --page-width: 1150px;
  --hero-width: 600px;
}

/* ====================== */

.page {
  background: #111827;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* ====================== */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.header_1 {
  display: flex;
  padding: var(--space-6) 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: var(--space-1) solid #253041;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-4) var(--space-6);
  border-radius: var(--border-radius-2);
  background-color: var(--color-button);
  color: var(--color-white);
  font-size: var(--size-1);
  font-weight: var(-weight-title);
  width: 56px;
  height: 30px;
}

.header_nav_right {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.nav_link {
  color: var(--color-white);
  font-size: var(--size-2);
  font-weight: var(--weight-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer_nav_left {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-7);
  align-items: center;
}

.header_2 {
  display: flex;
  padding-top: var(--space-6);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.ad {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.ad_logo {
  display: flex;
  padding: var(--space-2) var(--space-3);
  align-items: flex-start;
  gap: var(--space-5);
  border-radius: var(--border-radius-1);
  background-color: rgba(136, 95, 251, 0.2);
  font-size: var(--size-1);
  font-weight: var(-weight-title);
  color: var(--color-button);
}

.ad_link {
  font-size: var(--size-1);
  font-weight: var(--weight-text);
  color: var(--color-white);
  text-decoration: none;
}

.ad_user {
  font-size: var(--size-1);
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-9);
  border-radius: var(--border-radius-3);
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 300px;
}

.hero_title {
  font-size: 36px;
  font-weight: var(-weight-title);
  color: var(--color-white);
  width: var(--hero-width);
  text-align: center;
}

.hero_text {
  font-size: var(--size-2);
  font-weight: var(--weight-text);
  color: var(--color-border);
  line-height: 150%;
  width: var(--hero-width);
  text-align: center;
}

.hero_link {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: var(--space-6);
  align-items: center;
  gap: var(--space-6);
  border-radius: var(--border-radius-2);
  background-color: var(--color-button);
  color: var(--color-white);
  font-size: var(--size-2);
  font-weight: var(-weight-title);
  text-decoration: none;
  transition-duration: 0.7s;
  transition-property: opacity;
}

.hero_link:hover {
  opacity: 0.7;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--space-7);
  padding: var(--space-9);
  border-radius: var(--border-radius-3);
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
}

.about_title {
  font-size: 24px;
  font-weight: var(-weight-title);
  color: var(--color-white);
}

.about_text {
  font-size: var(--size-1);
  font-weight: var(--weight-text);
  color: var(--color-border);
  line-height: 170%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-9);
  padding: 0;
}

.article_header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.article_title {
  font-size: 32px;
  font-weight: var(-weight-title);
  color: var(--color-white);
}

.article_button {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
  padding: var(--space-6) var(--space-8);
  border-radius: var(--border-radius-2);
  border: var(--space-1) solid var(--color-border);
  color: var(--color-white);
  font-size: var(--size-2);
  font-weight: var(-weight-title);
  transition-duration: 0.7s;
}

.article_button:hover {
  background-color: var(--color-button);
}

.article_image {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--space-9);
}

.img {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  align-items: flex-start;
  position: relative;
}

.img_photo {
  border-radius: var(--border-radius-3);
  padding: 0;
  position: relative;
  width: 362px;
  height: 200px;
}

.img_badge {
  display: inline-flex;
  align-items: flex-start;
  padding: var(--space-2) var(--space-3);
  gap: var(--space-5);
  border-radius: var(--border-radius-1);
  background-color: rgba(251, 95, 95, 0.5);
  position: absolute;
  right: 5%;
  bottom: 50%;
}

.img_title {
  font-size: 18px;
  font-weight: var(-weight-title);
  color: var(--color-white);
}

.img_text {
  font-size: var(--size-1);
  font-weight: var(--weight-text);
  color: var(--color-border);
  line-height: 150%;
}

.img_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-4) var(--space-7);
  border-radius: var(--border-radius-2);
  background-color: var(--color-button);
  font-size: var(--size-1);
  font-weight: var(-weight-title);
  color: var(--color-white);
  transition-duration: 0.7s;
  transition-property: opacity;
}

.img_button:hover {
  opacity: 0.7;
}

.footer {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: var(--space-6) 0 var(--space-9) 0;
  border-top: var(--space-1) solid #202a3b;
  gap: var(--space-7);
}

.footer_copyright {
  font-size: var(--size-2);
  font-weight: var(--weight-text);
  color: var(--color-border);
}
